<%if current_user.try(:admin?)%>
<%= render 'pages/backdoorheader' %>

<h4> Admin Users</h4>
<% @users = User.all %>
<% @users.each do |user| %>
	<%if user.admin%>
	  <%= user.name %>
	  <%= user.email %>
	  <%= user.sign_in_count %>
	<br/>
	<% end %>
<% end %>

<h4> All Users</h4>
<% @users = User.all %>
<% @users.each do |user| %>
  <%= user.email %>
  <%= user.sign_in_count %>
<br/>
<% end %>


<%else%>

<p>This isn't the page you were looking for... </p><%= link_to 'Click Here To Return to Homepage', root_path %>

<%end%>
