<%= form_for @place, html: { multipart: true } do |f| %>
  <% if @place.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@place.errors.count, "error") %> prohibited this place from being saved:</h2>

      <ul>
      <% @place.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :image %>
    <%= f.file_field :image, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :title %><br>
    <%= f.text_field :title, class:"form-control", :placeholder =>'City, Country' %>
  </div>

  <div class="form-group">
    <%= f.label :headline %><br>
    <%= f.text_field :headline, class:"form-control", :placeholder =>'Quick Tagline... Be Creative!'  %>
  </div>

  <div class="form_group">
    <%= f.label "Overall Rating" %><br />
    <%= f.label :overallstars, "1", :value => 1  %>
    <%= f.radio_button :overallstars, 1, :checked =>true %>
    <%= f.label :overallstars, "2", :value => 2 %>
    <%= f.radio_button :overallstars, 2 %>
    <%= f.label :overallstars, "3", :value => 3 %>
    <%= f.radio_button :overallstars, 3 %>
    <%= f.label :overallstars, "4", :value => 4 %>
    <%= f.radio_button :overallstars, 4 %>
    <%= f.label :overallstars, "5", :value => 5 %>
    <%= f.radio_button :overallstars, 5 %>
  </div>

  <div class = "form-group">
    <%= f.label :description %><br>
    <%= f.text_area :description, class:"form-control", :placeholder =>'Overall imperssion, for those who like to skim', :rows=>'4' %>
  </div>


  <div class="form_group">
    <%= f.label "Attraction Rating" %><br />
    <%= f.label :attractionstars, "1", :value => 1  %>
    <%= f.radio_button :attractionstars, 1, :checked =>true %>
    <%= f.label :attractionstars, "2", :value => 2 %>
    <%= f.radio_button :attractionstars, 2 %>
    <%= f.label :attractionstars, "3", :value => 3 %>
    <%= f.radio_button :attractionstars, 3 %>
    <%= f.label :attractionstars, "4", :value => 4 %>
    <%= f.radio_button :attractionstars, 4 %>
    <%= f.label :attractionstars, "5", :value => 5 %>
    <%= f.radio_button :attractionstars, 5 %>
  </div>



  <div class="form-group">
    <%= f.label :attractions %><br>
    <%= f.text_area :attractions, class:"form-control", :placeholder =>'Fun Activities, Sights To See, Things that you must do', :rows=>'10' %>
  </div>

  <div class="form_group">
    <%= f.label "Restaurant Rating" %><br />
    <%= f.label :restaurantstars, "1", :value => 1  %>
    <%= f.radio_button :restaurantstars, 1, :checked =>true %>
    <%= f.label :restaurantstars, "2", :value => 2 %>
    <%= f.radio_button :restaurantstars, 2 %>
    <%= f.label :restaurantstars, "3", :value => 3 %>
    <%= f.radio_button :restaurantstars, 3 %>
    <%= f.label :restaurantstars, "4", :value => 4 %>
    <%= f.radio_button :restaurantstars, 4 %>
    <%= f.label :restaurantstars, "5", :value => 5 %>
    <%= f.radio_button :restaurantstars, 5 %>
  </div>

  <div class="form-group">
    <%= f.label :restaurants %><br>
    <%= f.text_area :restaurants, class:"form-control", :placeholder =>'Name some places you like to eat at!', :rows=>'10' %>
  </div>

  <div class="form_group">
    <%= f.label "Ladies Rating" %><br />
    <%= f.label :ladiesstars, "1", :value => 1  %>
    <%= f.radio_button :ladiesstars, 1, :checked =>true %>
    <%= f.label :ladiesstars, "2", :value => 2 %>
    <%= f.radio_button :ladiesstars, 2 %>
    <%= f.label :ladiesstars, "3", :value => 3 %>
    <%= f.radio_button :ladiesstars, 3 %>
    <%= f.label :ladiesstars, "4", :value => 4 %>
    <%= f.radio_button :ladiesstars, 4 %>
    <%= f.label :ladiesstars, "5", :value => 5 %>
    <%= f.radio_button :ladiesstars, 5 %>
  </div>


  <div class="form-group">
    <%= f.label :ladies %><br>
    <%= f.text_area :ladies, class:"form-control", :placeholder =>'How was the Local Talent, and How were the pros ;)', :rows=>'10'  %>
  </div>

  <div class="form_group">
    <%= f.label "Hotel Rating" %><br />
    <%= f.label :hotelstars, "1", :value => 1  %>
    <%= f.radio_button :hotelstars, 1, :checked =>true %>
    <%= f.label :hotelstars, "2", :value => 2 %>
    <%= f.radio_button :hotelstars, 2 %>
    <%= f.label :hotelstars, "3", :value => 3 %>
    <%= f.radio_button :hotelstars, 3 %>
    <%= f.label :hotelstars, "4", :value => 4 %>
    <%= f.radio_button :hotelstars, 4 %>
    <%= f.label :hotelstars, "5", :value => 5 %>
    <%= f.radio_button :hotelstars, 5 %>
  </div>


  <div class="form-group">
    <%= f.label :hotel %><br>
    <%= f.text_area :hotel, class:"form-control", :placeholder =>'Name some hotels that you recommend', :rows=>'10'  %>
  </div>

  <div class = "form-group">
    <%= f.submit class: "btn btn-primary" %>
  </div>

<% end %>
