
<div id="places" class="transition-enabled">
  <% @places.each do |place| %>
  <div class="box panel panel-default-custom">
    
      <div class="panel-title center">
        <h3><%= place.title %></h3>
        <%= show_overall_stars place if place.overallstars %>
        <h5 class="headline"> <%= place.headline %></h5>
      </div>
      <div class="index-actions">

        
        <%= link_to "Read The Review", place, :class => "btn-sm btn-primary indexbutton"%>
       
      </div>
      <div class="panel-heading-custom">
      <div class="panel-body-index">
       
        <%= link_to image_tag(place.image.url(:medium)),place %>
          <%if current_user.try(:admin?)%>
            <div class="actions">
              <%= link_to edit_place_path(place) do %>
                <span class="glyphicon glyphicon-edit"></span>
                Edit
              <% end %> |
              <%= link_to place, method: :delete, data: { confirm: 'Are you sure?' } do %>
                <span class="glyphicon glyphicon-trash"></span>
                  Delete
              <% end %>
            
            </div>
          <%end%>
        
        </div>  
    </div>
  </div>
  <% end %>
</div>
<div class="center">
   <%= will_paginate @collection, renderer: BootstrapPagination::Rails %>
</div>
