<div id="places" class="transition-enabled">
  <% @places.each do |place| %>
    <div class="box panel panel-default">
      <%= image_tag place.image.url(:medium) %>
        <%= place.title %>
        <%= place.description %>
        <%= place.attractions %>
        <%= place.restaurants %>
        <%= place.user.email if place.user%>
        <%= link_to 'Show', place_path(place) %>
        <%= link_to 'Edit', edit_place_path(place) %>
        <%= link_to 'Destroy', place, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  <% end %>
</div>
