
<%= link_to places_path do %>
<span class = "glyphicon glyphicon-chevron-left"></span>
Back
<%end%>
<div class="row">
	<div class="col-md-offset2 col-md-8">
		<div class="panel panel-default">
			<div class="panel-heading center">
				<h2><%= @place.title %></h2>
				
				<p><%= image_tag @place.image.url(:medium) %></p>
					<div class="panel-body">
					 	<div class="well">
						<p>Attraction Rating: </br><%= show_attraction_stars @place%></p>
						<p>Restaurant Rating:</br><%= show_restaurant_stars @place%></p>
						<p>Hotel Rating:</br><%= show_hotel_stars @place%></p>
						<p>Ladies Rating:</br><%= show_ladies_stars @place%></p>
						</div>
					<p><strong>Description:</strong><%= @place.description %></p>
					<p><strong>Attractions:</strong><%= @place.attractions %></p>
					<p><strong>Restaurants:</strong><%= @place.restaurants %></p>
					<p><strong>Ladies:</strong><%= @place.ladies %></p>
					<%if current_user.try(:admin?) or current_user.try(:editor?) %>
						<div class = "actions">
							<%= link_to edit_place_path(@place) do %> 
								 <span class="glyphicon glyphicon-edit"></span> Edit
	      					<% end %>
						</div>
					<%end%>
				</div>

			</div>
			<% if user_signed_in? %>
				<%= form_for [@place, Comment.new] do |f| %>
					<p>
						<%= f.text_field :body, class:"form-control"  %>
					</p>
					<p><%=f.submit "Add Comment", class: "btn btn-primary" %></p>
				<%end%>
			<%else%>
				<%= link_to "Quick Sign Up to Comment", new_user_registration_path, class: "btn btn-primary"%>
			<%end%>
			<h6> All Comments </h6>
			<%= render :partial => @place.comments %>
		</div>
	</div>
</div>

